*{
	padding: 0;
	margin:0;
}

body{
	font-family: 'Merriweather Sans', sans-serif;
	background-color: white;
}

.img-responsive{
	width: 100%;
}

h1{
	color: black;
	font-size: 30px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	padding: 5px 70px;
}

.navbar-toggle{
	float: left;
}

/*BOTON DE BUSQUEDA*/

#search-form { display: none; }

#search-button{
	background-color: #ea4748;
	float: right;
	margin-top: -4rem;
}
.glyphicon-search{
	color: white;
}

/*HEADER*/
.box{
	margin-top: 3rem;
}

.popular{
	background-color: #ea4748;
	width: 15rem;
	height: 4rem;
	position: absolute;
	color: white;
	text-align: center;
	padding-top: 1rem;
	font-weight: 700;
}

/*SECTION DOS*/
.second-section{
	margin-top: 7rem;
}

h6{
	color:  #ea4748;
}

hr{
	width: 100%;
	color: gray;
	padding: 0.1em;
}
.fa-star{
	color:  #ea4748;
}
.fa-star-o{
	color:gray;
}

.linea{
	width: 100%;
	color: gray;
	padding: 0.1em;
	line-height: 90%;
}